<div class="detail-wrapper">

    <div class="detail-header-bar">
        <button class="btn-back" (click)="backFunc()">
            <span class="material-icons">
                arrow_back
            </span>
        </button>

        <div class="btns">
            <button class="btn-cart">
                <span class="material-icons">
                    shopping_cart
                </span>
                <div class="badge">2</div>
            </button>

            <button class="btn-share">
                <span class="material-icons">
                    share
                </span>
            </button>

            <button class="btn-home">
                <span class="material-icons">
                    home
                </span>
            </button>
        </div>
    </div>

    <div class="detail-preview">
        <div class="detail-slider">
            <div class="item">
                <img src="../../../assets/SmallBanner_MB_01.png" alt="">
            </div>
        </div>
    </div>
</div>