.detail-wrapper{

    .detail-header-bar{
        width: 100vw;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;

        .btn-back{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            // justify-self: start;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            background-color: rgba(0,0,0,0.2);
            color: #fff;
            .material-icons{
                font-size: 22px;
            }
        }
        .btns{
            display: flex;
            justify-self: end;
            align-items: center;
            justify-content: center;
            button{
                margin-left: 1rem;
                outline: none;
                border: none;
                background-color: rgba(0,0,0,0.2);
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                .material-icons{
                    font-size: 22px;
                }
            }
            .btn-cart{
                position: relative;
                .badge{
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    width: 15px;
                    height: 15px;
                    background-color: #ff4747;
                    border-radius: 50%;
                    font-size: 10px;
                    line-height: 15px;
                    text-align: center;
                }
            }
        }
    }

}