<div class="footer-nav">
    <div class="footer-item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"  class="item">
            <div class="icon">
                <span class="material-icons">
                    home
                </span>
            </div>
            <div class="text">Home</div>
        </a>
    </div>

    <div class="footer-item">
        <a  class="item">
            <div class="icon">
                <span class="material-icons">
                    apps
                </span>
            </div>
            <div class="text">Categories</div>
        </a>
    </div>

    <div class="footer-item">
        <a [routerLink]="['/favorite']" routerLinkActive="router-link-active"  class="item">
            <div class="icon">
                <span class="material-icons">
                    favorite
                </span>
            </div>
            <div class="text">Favorite</div>
        </a>
    </div>

    <div class="footer-item">
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="item">
            <div class="icon">
                <span class="material-icons">
                    shopping_cart
                </span>
            </div>
            <div class="text">Cart</div>
        </a>
    </div>

    <div class="footer-item">
        <a [routerLink]="['/account']" routerLinkActive="router-link-active"  class="item">
            <div class="icon">
                <span class="material-icons">
                    account_circle
                </span>
            </div>
            <div class="text">account</div>
        </a>
    </div>
</div>
