<div class="main">
    <div class="wrapper">
        <div class="container">
    
            <div class="nav-container">

                <div class="nav-item">
    
                    <div class="item">
                       <span >
                            <img src=".../../../../../assets/header/01.png" alt="">
                        </span>
                    </div>
    
                    <div class="item">
                        <input type="text" placeholder="Search of Products">

                        <span class="material-icons">
                            search
                        </span>
                    </div>
    
                    <div class="item">
                        <span >
                            <img src="../../../assets/header/Artboard 91.png" alt="">
                        </span>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
</div>
