.main{
    width: 100%;
    display: flex;
    justify-content: center;
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
      
        .container{
            width: 100%;
            
            .nav-container{
                padding: 1.5rem 1rem;
                background-color: #ff4747;
            
                .nav-item{ 
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .item{

                        &:nth-child(1){
                            span{
                                img{
                                    width: 3rem;
                                }
                            }
                        }
                

                        &:nth-child(2){
                            position: relative;
                            padding: 0 10px;
                            width: 100%;
                     
                            input{
                                padding: 0 3rem;
                                height: 30px;
                                width: 100%; 
                                border-radius: 3px;
                                border: none;
                                outline: none;
                            }

                            span{
                                position: absolute;
                                left: 1.3rem;
                                top: 0.4rem;
                                color: #777;

                            }

                        }

                        &:nth-child(3),&:nth-child(1){
                            span{
                                img{
                                    width: 2.5rem;
                                }
                                // font-size: 2.5rem;
                            }
                        }
                    }
                }

            }

        }
    }
}